<% @global.each do |name, value| %>
<%= name %> = <%= quote(value) %>
<% end %>

<% @runners.each do |n, runner| %>
[[runners]]
  <% if runner.has_key?('global') %>
  <% runner['global'].each do |name, value| %>
  <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('feature_flags') %>
  [runners.feature_flags]
  <% runner['feature_flags'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('docker') %>
  [runners.docker]
  <% runner['docker'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('machine') %>
  [runners.machine]
  <% runner['machine'].each do |name, value| %>
    <% next if name == 'autoscaling' %>
    <%= name %> = <%= quote(value) %>
  <% end %>

  <% if runner['machine'].has_key?('autoscaling') %>
  <% runner['machine']['autoscaling'].each do |autoscaling| %>
    <% if autoscaling.is_a?(Hash) %>
    [[runners.machine.autoscaling]]
    <% autoscaling.each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
    <% end %>
  <% end %>
  <% end %>
  <% end %>

  <% if runner.has_key?('cache') %>
  [runners.cache]
  <% runner['cache'].each do |name, value| %>
  <% if value.is_a?(Hash) %>
    [runners.cache.<%= name %>]
    <% value.each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
  <% else %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>
  <% end %>

  <% if runner.has_key?('referees') %>
  [runners.referees]
  <% runner['referees'].each do |name, value| %>
    [runners.referees.<%= name %>]
    <% value.each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
  <% end %>
  <% end %>
<% end %>
